/* Tags */
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

h1 {
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;

}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: none;
  border-bottom: dotted;
  border-color: lightgrey;
  border-width: 5px;
  width: 5%
}

p {
  line-height: 2;
}
/* Class*/
.base-photo {
  padding: 30px;
  float: left;
  text-align: center;
  height: 25%;
  width: 25%
}
.base-photo-2 {
  padding: 30px;
  float: right;
  text-align: center;
  height: 25%;
  width: 25%
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 30px;
}

.contact_button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #11999e 5%, #b8d0d1 100%);
	background-color:#11999e;
	border-radius:6px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Merriweather', serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #f4f6f7;
}
.contact_button:hover {
	background:linear-gradient(to bottom, #b8d0d1 5%, #11999e 100%);
	background-color:#b8d0d1;
}
.contact_button:active {
	position:relative;
	top:1px;
}
.contact-me {
  margin: 0 30% 0 30%;
  padding-bottom: 30px;
}

.copyright {
  color: white;
  font-size: .75rem;
  margin-bottom: 0;
  padding-top: 15px;
}

.top-container {
  padding-top: 100px;
  background-color: #EAF6F6;
  position: relative;
}

.middle-container {
  text-align: center;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.Pro {
  text-decoration: underline;
}

.profile {
  margin: 0 30% 0 30%;
  padding-bottom: 20px;
}

.profile-photo {
  padding-top: 20px;
  text-align: center;
  width: 150px;
}

.skills {
  padding-top: 20px;
}

.skill-row {
  line-height: 2;
  width: 50%;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  text-align: left;
}
